.right-img {
  right: -175px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.plain-list > li, ul[role=menu] > li {
  padding-left: 0;
}

ul.plain-list > li::before, ul[role=menu] > li::before {
  content: none;
}

hr.basic {
  display: block;
  border: 0;
  height: 5px;
  margin-top: 3em;
  margin-bottom: 3em;
  background-image:  none;
}

.adopting-table td {
  vertical-align: middle;
}

.adopting-table tr:nth-child(even) {
  background: #edf2f7
}

.adopting-table thead tr th {
  line-height: 1.3;
}



/*.nav-dropdown-link:after {
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  content: "";
  display: inline-block;
  margin-left: .3em;
  position: relative;
  pointer-events: none;
  width: 6px;
  height: 6px;
  transition: right .15s;
  left: 2px;
  top: -2px;
  vertical-align: middle;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}*/

.nav-list {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 5px 25px 0 rgba(0,0,0,.15), 0 3px 3px 0 rgba(0,0,0,.05);
  left: -6px;
  min-width: 255px;
  visibility: hidden;
  opacity: 0;
  padding-left: 0;
  position: absolute;
  top: 30px;
  transform: translateY(0);
  transition: opacity .2s cubic-bezier(.165,.84,.44,1),transform .2s cubic-bezier(.165,.84,.44,1);
  will-change: opacity,transform;
  z-index: 10;
}

.nav-dropdown:hover {
	cursor: pointer;
}

.nav-dropdown:hover .nav-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(-6px);
}


/* Mobile Menu Icon */
#nav-icon3 {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*SoF*/

.sof-banner {
  background: url(../img/temp/landing-page-banner.png) no-repeat;
  background-position: center;
  background-size: cover;
}