---
---
/* Front matter is necessary for Jekyll */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Write your styles below this line. */

@import "css/hc-offcanvas-nav_carbon";
@import "css/slick-theme";
@import "css/typography";
@import "css/_extra";

@layer base {
  body {
    @apply text-gray-700
  }
  p {
    @apply font-light
  }
  li {
  	@apply text-base font-light mb-2 pr-4
  }
}

@layer base {

  .btn {
    @apply inline-flex justify-center py-2 px-4 border shadow-sm text-sm font-medium rounded-sm text-white bg-green-500 font-normal no-underline
  }

  .btn-outline {
    @apply inline-flex justify-center py-2 px-4 border shadow-sm text-sm font-medium rounded-sm text-green-500 bg-white border border-green-500 font-normal no-underline
  }

  .badge-grey {
    @apply bg-gray-200 rounded-lg text-sm font-semibold text-gray-700 tracking-wider uppercase inline-block px-2 py-px no-underline;
  }

  .badge-grey:hover {
    @apply bg-gray-400
  }

  .badge-dgrey {
    @apply bg-gray-300 rounded-lg text-sm font-semibold text-gray-700 tracking-wider uppercase inline-block px-2 py-px no-underline;
  }
  
  .badge-dgrey:hover {
    @apply bg-gray-400
  }

  .badge-dgrey svg {
    @apply text-gray-500 
  }
}

@layer base {
  table thead {
    @apply border-b-2 border-gray-200 border-solid
  }
  table thead th, table tr td {
    @apply px-5 py-2
  }
}

/* Write your styles above this line. */

@tailwind utilities;