body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: #5e6a75;
  line-height: 1.75;
  font-size: 1rem;
}

b, strong {
  font-weight: bold;
  color: #1a202c;
}

h1 {
  color: #1a202c;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.3;
}

h2 {
  color: #1a202c;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

h3 {
  color: #1a202c;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

h4 {
  color: #1a202c;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}


ol > li::before {
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
  position: absolute;
  font-weight: 400;
  color: #a0aec0;
  left: 0;
}

ol > li {
  position: relative;
  padding-left: 1.5em;
}

ul > li {
  position: relative;
  padding-left: 1.75em;
}

ul > li::before {
  content: "";
  position: absolute;
  background-color: #e2e8f0;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}

ul:not(.plain-list) li > a {
  color: #1a202c;
  text-decoration: underline;
  font-weight: 500;
}

p > a, p * a {
  color: #1a202c;
  text-decoration: underline;
  font-weight: 500;
}

hr {
  display: block;
  border: 0;
  height: 10px;
  background-image: url('../img/community/ruler-2.svg');
  background-repeat:  no-repeat;
  margin-top: 3em;
  margin-bottom: 3em;
}

blockquote {
  font-weight: 500;
  font-style: italic;
  color: #1a202c;
  border-left-width: 0.25rem;
  border-left-color: #edf2f7;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

blockquote p:first-of-type::before {
  content: open-quote;
}

blockquote p:last-of-type::after {
  content: close-quote;
}

table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

thead {
  color: #1a202c;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #e2e8f0;
}

thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #edf2f7;
}

tbody tr:last-child {
  border-bottom-width: 0;
}

tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

video {
  margin-top: 2em;
  margin-bottom: 2em;
}

ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.25em;
}

ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

ul > li > *:first-child {
  margin-top: 1.25em;
}

ul > li > *:last-child {
  margin-bottom: 1.25em;
}

ol > li > *:first-child {
  margin-top: 1.25em;
}

ol > li > *:last-child {
  margin-bottom: 1.25em;
}

ul ul, ul ol, ol ul, ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

hr + * {
  margin-top: 0;
}

h2 + * {
  margin-top: 0;
}

h3 + * {
  margin-top: 0;
}

h4 + * {
  margin-top: 0;
}

thead th:first-child {
  padding-left: 0;
}

thead th:last-child {
  padding-right: 0;
}

tbody td:first-child {
  padding-left: 0;
}

tbody td:last-child {
  padding-right: 0;
}

code {
  color: #1a202c;
  font-weight: 600;
  font-size: 0.875em;
}

code::before {
  content: "`";
}

code::after {
  content: "`";
}

pre {
  color: #edf2f7;
  background-color: #2d3748;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}

pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

pre code::before {
  content: none;
}

pre code::after {
  content: none;
}