---

layout: wide
permalink: /thank-you-sof/

title: Thank you for taking the State of FinOps Survey
description: 

---

<h1>Thank you for taking the State of FinOps 2023 Survey</h1>

<p>Why not check out some of the great events the FinOps Foundation coming up.</p>

<div class="flex flex-col md:flex-row flex-wrap">
	<div class="bg-gray-100 md:w-[48%]">
		<img src="/img/events/x-2023.png">
		<div class="p-4 shadow-sm">
			<h2 class="mt-2">FinOps X - June 28-29, San Diego, California</h2>
			<p>FinOps X is the official event of FinOps hosted by the FinOps Foundation for every individual who manages the value of cloud with enriching connections, professional advancement, and inspiration regardless of your maturity or industry.</p>

			<a class="btn" href="https://x.finops.org">Learn more</a>
		</div>
	</div>
	<div class="bg-gray-100 md:w-[48%] ml-2">
		<img src="/img/events/ams-2023.png?2">
		<div class="p-4 shadow-sm">
			<h2 class="mt-2">FinOps Community Day Europe - March 21, Amsterdam</h2>
			<p>Meet with your peers and take part in a full-day of interactive discussions and hear keynotes from thought leaders on FinOps topics including the first view on the European slice of State of FinOps 2023 data and regional benchmark data.</p>

			<a class="btn" href="https://go.finops.org/community-day-europe-2023">Learn more</a>
		</div>
	</div>
</div>



<!-- <div class="flex flex-col md:flex-row flex-wrap">
{% for item in site.resources %}
	{% if item.identifier == 'projects' %}
		<div>
			<a class="block bg-gray-100 rounded-lg px-4 py-4 border-solid border-gray-100 border hover:border-green-500 transition-colors duration-200 shadow-sm mr-2 mb-2" href="{{ item.url }}">{{ item.title }}</a>
		</div>
  {% endif %}
{% endfor %}
</div>
 -->