/* color variables */
:root {
  --green: #1ea482;
  --blue: #007eab;
  --purple: #af45f4;
  --orange: #ff7600;
  --yellow: #f4ba16;
  --lightgray: #cccecd;
  --gray: #4d5966;
  --darkgray: #2f3f4e;
}
