<div class="c-modal js--modal" id="modal-contribute">
  <div class="c-modal_close"><a href="javascript:void(0)" onclick="javascript:modalToggle('modal-contribute');">&#215;</a></div>
  
  <!--content-->
  <div class="flex flex-col">
    <!--header-->
    <div class="flex border-b border-solid border-blueGray-200 rounded-t">
      <h3 class="text-xl font-semibold mt-2">
        Make suggestions to the FinOps Framework
      </h3>
      <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="modalToggle('modal-contribute')">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relative flex-auto">
      <div>
        <!-- form -->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js?pre=1"></script>
        <script>
          hbspt.forms.create({
            region: "na1",
            portalId: "5432286",
            formId: "7dd666e4-9c47-4a01-be30-ed5badc67fac"
          });
        </script>
        <!-- end form -->
      </div>
    </div>
  </div>
</div>