<div class="c-modal js--modal" id="modal-contribute">
  <div class="c-modal_close"><a href="javascript:void(0)" onclick="javascript:modalToggle('modal-contribute');">&#215;</a></div>
  
  <!--content-->
  <div class="flex flex-col">
    <!--header-->
    <div class="flex border-b border-solid border-blueGray-200 rounded-t">
      <h3 class="text-xl font-semibold mt-2">
        Make suggestions to the FinOps Framework
      </h3>
      <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="modalToggle('modal-contribute')">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relative flex-auto">
      <div>
        <!-- form -->

        <form name="contribution" method="POST" data-netlify="true" action="/projects/overview/?fm=ty-contribute">
          <div class="hidden">
            <label>Don’t fill this out if you’re human </label>
            <input name="bot-field" />
          </div>
          <div>
            <label>First Name</label>
            <input type="text" name="first_name" required />
          </div>
          <div>
            <label>Last Name</label>
            <input type="text" name="last_name" required />
          </div>
          <div>
            <label>Your Email</label>
            <input type="email" name="email" required />
          </div>
          <div>
            <label>Proposed addition, edits or comments</label>
            <textarea name="message" required rows="5"></textarea>
          </div>
          <input class="js-label-url" type="hidden" name="page" value="" />
          <div>
            <button class="btn" type="submit">Send</button>
          </div> 
        </form>

        <!-- end form -->
        <div class="border-t border-solid border-blueGray-200">
          <h4>Feel at home with GitHub?</h4>
          <img src="/img/icons/github.svg" width="20" class="inline-block align-text-bottom mr-1"> <a href="https://github.com/finopsfoundation/framework">Contribute to this page via <span class="underline">GitHub</span></a>
        </div>
      </div>
    </div>
  </div>
</div>