<!-- Eligibility Modal-->

<div class="c-modal js--modal" id="modal-eligible">
  <div class="c-modal_close"><a href="javascript:void(0)" onclick="javascript:modalToggle('modal-eligible');">&#215;</a></div>

  <!--content-->
  <div class="flex flex-col">
    <!--header-->
    <div class="flex border-b border-solid border-blueGray-200 rounded-t">
      <h3 class="text-xl font-semibold mt-2">
        Eligibility
      </h3>
      <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="modalToggle('modal-eligible')">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relative flex-auto">
      <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
        Those in a sales, business development, or marketing roles are not eligible for membership. Those who work for consultancies or cloud-related technology vendors are not eligible for "Practitioner" membership.</p>

        <p class="my-4 text-blueGray-500 text-lg leading-relaxed"><b>Practitioner Definition</b><br/>
        Practitioners must: (i) be actively working in FinOps: (a) in an executive capacity, such as a Chief Information Officer or Chief Technology Officer; (b) in IT/engineering and operations; (c) in finance and/or procurement; (d) as a FinOps practitioner; or (e) in a similar capacity (regardless of title); (ii) not be employed by a FinOps, cloud, or cloud management vendor; and (iii) not have FinOps-related sales, marketing, or business development as their primary business.
      </p>
    </div>
  </div>
</div>