<!-- Modal Premier Benefits -->

<div class="c-modal js--modal" id="modal-premier-benefits">
  <div class="c-modal_close"><a href="javascript:void(0)" onclick="javascript:modalToggle('modal-premier-benefits');">&#215;</a></div>

  <!--content-->
  <div class="flex flex-col">
    <!--header-->
    <div class="flex border-b border-solid border-blueGray-200 rounded-t">
      <h3 class="text-xl font-semibold mt-2">
        Premier Member Details and Pricing
      </h3>
      <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="modalToggle('modal-premier-benefits')">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relativeflex-auto">
      <ul class="list-disc pl-10 mb-4">
        <li>Participate in all Marketing, Community, Thought Leadership opportunities</li>
        <li>Appoint one (1) representative to the Governing Board</li>
        <li>Appoint one (1) representative as a voting member in any subcommittees or activities of the Governing Board</li>
        <li>Enjoy most prominent placement in displays of membership including on the website and in marketing materials</li>
        <li>Increased access to F2 invitation-only member events</li>
        <li>Receive ongoing, individual engagement from F2 Board and Staff</li>
        <li>Included in the press campaign with the Linux Foundation PR team</li>
      </ul>
      <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
        Pricing $125k/yr, minimum two years (including board seat)
      </p>
    </div>
  </div>
</div>