<!-- Modal Pricing -->

<div class="c-modal js--modal" id="modal-pricing">
  <div class="c-modal_close"><a href="javascript:void(0)" onclick="javascript:modalToggle('modal-pricing');">&#215;</a></div>

  <!--content-->
  <div class="flex flex-col">
    <!--header-->
    <div class="flex border-b border-solid border-blueGray-200 rounded-t">
      <h3 class="text-xl font-semibold mt-2">
        Pricing Details
      </h3>
      <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="modalToggle('modal-pricing')">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relative flex-auto">
      <table class="table-auto text-sm text-center"> 
        <thead>
          <th>Size</th>
          <th>New to Linux Fdn<sup>*</sup></th>
          <th>Existing Linux Fdn Member<sup>**</sup></th>
        </thead>
        <tbody>
          <tr>
            <td>10000+</td>
            <td>$90,000</td>
            <td>$70,000</td>
          </tr>
          <tr>
            <td>5000-9999</td>
            <td>$70,000</td>
            <td>$50,000</td>
          </tr>
          <tr>
            <td>500-4999</td>
            <td>$45,000</td>
            <td>$30,000</td>
          </tr>
          <tr>
            <td>100-499</td>
            <td>$25,000</td>
            <td>$15,000</td>
          </tr>
          <tr>
            <td>0-99</td>
            <td>$10,000</td>
            <td>$5,000</td>
          </tr>
        </tbody>
      </table>
      <p class="my-4 text-blueGray-500 text-sm leading-relaxed">
        Pricing determined by size or organization and existing membership of the Linux Foundation. Please submit a request for more details.
      </p>
      <p><small>* Linux Foundation membership (Silver minimum) is required to join the FinOps Foundation.</small></p>
      <p><small>** Existing LF members simply need to add a FinOps Participation Agreement to their existing LF membership</small></p>
    </div>
  </div>
</div>
