<div id="js-search-content" class="bg-gray-900 py-6" style="display: none;">
  <div class="container mx-auto px-4 sm:px-6 xl:px-12">
    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-8 container mx-auto px-4 search-inner" id="js-search-inner">
      <div class="flex flex-col">
        <h3 class="text-white text-base border-solid border-gray-200 border-b-2 border-b-green-500 py-2 my-2">Website Pages</h3>
        <div id="search-hits_website" class="flex-grow"></div>
      </div>

      <div class="flex flex-col">
        <h3 class="text-white text-base border-solid border-gray-200 border-b-2 border-b-blue py-2 my-2">FinOps Framework</h3>
        <div id="search-hits_capability" class="flex-grow"></div>
        <a href="/framework/capabilities/" class="text-sm text-slate-400 hover:text-slate-500 inline-flex items-center mt-2"><span>View all</span> <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-px" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" /></svg></a>
      </div>

      <div class="flex flex-col">
        <h3 class="text-white text-base border-solid border-gray-200 border-b-2 border-b-purple py-2 my-2">Resources</h3>
        <div id="search-hits_resources" class="flex-grow"></div>
        <a href="/resources/" class="text-sm text-slate-400 hover:text-slate-500 inline-flex items-center mt-2"><span>View all</span> <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-px" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" /></svg></a>
      </div>

      <div class="flex flex-col">
        <h3 class="text-white text-base border-solid border-gray-200 border-b-2 border-b-orange-500 py-2 my-2">Training & Events</h3>
        <div id="search-hits_events" class="flex-grow"></div>
        <a href="/resources/events/" class="text-sm text-slate-400 hover:text-slate-500 inline-flex items-center mt-2"><span>View all</span> <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-px" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" /></svg></a>
      </div>

      <!-- <div class="flex flex-col">
        <h3 class="text-white text-base border-solid border-gray-200 border-b-2 border-b-yellow py-2 mb-2">Partner Members</h3>
        <div id="search-hits_tooling" class="flex-grow"></div>
        <a href="/partner-members/" class="text-sm text-slate-400 hover:text-slate-500 inline-flex items-center mt-2"><span>View all</span> <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-px" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" /></svg></a>
      </div> -->
      
    </div>
  </div>
</div>