---

layout: default
title: FinOps Foundation Vendor Members
description: Find out the details on vendor members and their associated FinOps materials, products and services.

---


<h2>Premier Members</h2>

<div class="flex flex-wrap items-stretch mt-6 mb-10">
{% assign sortedpremier = site.vendor-members | sort: 'member-order' %}
{% for vendor in sortedpremier %}
	{% if vendor.member-level == 'premier' %}

	<div class="md:w-2/6 p-3 flex items-stretch">
		<div class="w-full bg-gray-100 rounded-lg border-solid border-gray-100 border hover:border-green-500 transition-colors duration-200 shadow-sm cursor-pointer flex text-centre items-center justify-center">
			<a href="{{ vendor.url }}" class="block p-6">
				<img src="{{ vendor.logo-url }}" alt="{{ vendor.name }}" width="{% if vendor.logo-url-width != undefined %}{{ vendor.logo-url-width }}{% else %}150{% endif %}" />
			</a>
	  </div>
	</div>
		
	{% endif %}
{% endfor %}
</div>


<h2>General Members</h2>

<div class="flex flex-wrap items-stretch mt-6 mb-10">

{% assign sortedgeneral = site.vendor-members | sort: 'name' %}

{% for vendor in sortedgeneral %}
	{% if vendor.member-level == 'general' %}

	<div class="md:w-2/6 p-3 flex items-stretch">
		<div class="w-full bg-gray-100 rounded-lg border-solid border-gray-100 border hover:border-green-500 transition-colors duration-200 shadow-sm cursor-pointer flex text-centre items-center justify-center">
			<a href="{{ vendor.url }}" class="block p-6">
				<img src="{{ vendor.logo-url }}" alt="{{ vendor.name }}" width="{% if vendor.logo-url-width != undefined %}{{ vendor.logo-url-width }}{% else %}150{% endif %}" />
			</a>
	  </div>
	</div>
		
	{% endif %}
{% endfor %}
</div>