---

layout: default
title: {{ page.title }}

---


<h1>{{ page.title }}</h1>

{% if page.cloud-provider %}
<div class="my-4">
  {% for cloud in page.cloud-provider %}
    <div class="bg-gray-200 rounded-lg text-sm font-semibold text-gray-700 tracking-wider uppercase inline-block px-2 py-px">{{ cloud }}</div>
  {% endfor %}
</div>
{% endif %}

<em>{% if page.author %} by {{ page.author | join: " and " }}{% else %} by a Foundation Member{% endif %}{% if page.company %}, {{ page.company }}{% endif %}</em>



{{ content }}


<!-- Assign variable to help identify if there are no stories -->
{% assign is_stories = false %}
<!-- Assign story cloud -->
{% for cloud in page.cloud-provider %}
  {% assign story-cloud = cloud %}
{% endfor %}
<!-- Make variable with sorted oder -->
{% assign sorted_stories =  site.stories | where_exp:"item",
"item.cloud-provider contains story-cloud" | sort: "order" %}
<!-- Loop over all stories -->
{% for story in sorted_stories limit:3 %}
{% if forloop.first == true %}
  <h2>Related Member Stories</h2>
{% endif %}

{% assign is_stories = true %}
<div class="bg-gray-100 p-4 rounded-md my-8">
  <h3 class="mt-2 mb-4">{{ story.title }}</h3>
  <div class="my-4">
  {% if story.cloud-provider %}
    {% for cloud in story.cloud-provider %}
      <div class="bg-gray-200 rounded-lg text-sm font-semibold text-gray-700 tracking-wider uppercase inline-block px-2 py-px mr-2">{{ cloud }}</div>
    {% endfor %}
  {% endif %}
  {% if story.industry %}
    <div class="bg-gray-200 rounded-lg text-sm font-semibold text-gray-700 tracking-wider uppercase inline-block px-2 py-px mr-2">Industry: {{ story.industry }}</div>
  {% endif %}
  {% if story.framework-persona %}
    <div class="bg-gray-200 rounded-lg text-sm font-semibold text-gray-700 tracking-wider uppercase inline-block px-2 py-px mr-2">Persona: {{ story.framework-persona }}</div>
  {% endif %}
  </div>
  <em>{% if story.author %} by {{ story.author | join: " and " }}{% else %} by a Foundation Member{% endif %}{% if story.company %}, {{ story.company }}{% endif %}</em>
  <div>
    {% if story.description %} {{ story.description | truncatewords: 50 | markdownify}} {% else %} {{ story.content | truncatewords: 50 | markdownify}} {% endif %} <a class="text-green-500 text-sm" href="{{ story.url }}">Read more</a>
    <!-- {{ story.content | truncatewords: 50 | markdownify}} <a class="text-green-500 text-sm" href="{{ story.url }}">Read more</a> -->
  </div>
</div>
{% endfor %} <!-- End loop of stories -->

