---

layout: basic

---



<div class="flex flex-wrap flex-row md:flex-nowrap px-4 max-w-screen-xl mx-auto sm:px-6 mt-12"><!-- Main container -->
  <div class="hidden md:block w-3/12"><!-- Sidebar Nav -->
    {% include nav.html %}
    
    <div class="bg-gray-200 rounded-lg px-6 pb-6 pt-2 mr-6">
      <span class="text-gray-400 inline-block mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mt-2" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
        </svg>
      </span>
      <h3 class="text-sm font-semibold text-gray-700 tracking-wider uppercase m-0">Ready to Get FinOps Certified?</h3>
      <a href="/training-certification/" class="text-sm text-green-500 mt-4 block" data-ga-category="links" data-ga-action="internal link clicks" data-ga-label="certification - left nav promo">Learn More</a>
    </div>
  </div>
  <div class="px-4 w-full md:w-9/12">
    {% if page.identifier == 'framework' or page.identifier == 'projects' %}
    <div class="text-right text-sm no-underline text-gray-900 mb-6">
      <a href="javascript:void(0);" class="rounded-md hover:bg-gray-200 py-2 px-4 opacity-50 hover:opacity-100 transition duration-200 ease-in-out" onclick="toggleModal('modal-contribute')">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg> Make Suggestion
      </a>
    </div>

      {% assign url = page.url %}
      {% assign size = url | size | minus: 1 %}

      <!-- https://github.com/finopsfoundation/framework/blob/master{{ url | slice: 0, size | append: '.md' }} -->
    
    {% endif %}
    <div>
      {{ content }}
    </div>
  </div>
</div>


<!-- Modal Contribute -->

<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-contribute">
  <div class="relative w-4/5 m:w-2/5 my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-xl font-semibold mt-2">
          Make suggestions to the FinOps Framework
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-contribute')">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <div>
          <!-- form -->

          <form name="contribution" method="POST" data-netlify="true" action="/introduction/how-to-contribute/?fm=ty-contribute">
            <div class="hidden">
              <label>Don’t fill this out if you’re human </label>
              <input name="bot-field" />
            </div>
            <div>
              <label>First Name</label>
              <input type="text" name="first_name" required />
            </div>
            <div>
              <label>Last Name</label>
              <input type="text" name="last_name" required />
            </div>
            <div>
              <label>Your Email</label>
              <input type="email" name="email" required />
            </div>
            <div>
              <label>Proposed edits</label>
              <textarea name="message" required rows="5"></textarea>
            </div>
            <input type="hidden" name="page" value="test page" />
            <div>
              <button class="btn" type="submit">Send</button>
            </div> 
          </form>

          <!-- end form -->
          <div class="border-t border-solid border-blueGray-200">
            <h4>Feel at home with GitHub?</h4>
            <img src="/img/icons/github.svg" width="20" class="inline-block align-text-bottom mr-1"> <a href="https://github.com/finopsfoundation/framework">Contribute to this page via <span class="underline">GitHub</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Backdrop -->
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-backdrop"></div>
