---

layout: wide
permalink: /resources/events/

title: FinOps Events
description: See the latest FinOps related events from regional meetups to instructor led trainings. Connect with the community on a range of FinOps topics in a way best for you.
meta-img: events.png?2

---

<div class="text-right text-sm no-underline text-gray-900 mb-6">
  <a href="javascript:void(0);" class="rounded-sm hover:bg-gray-200 py-2 px-4 opacity-50 hover:opacity-100 transition duration-200 ease-in-out" onclick="modalToggle('modal-event')">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg> Suggest a reource to be added
  </a>
</div>

<div id="ty-event" class="hidden">
  {% include event-thankyou.html %}
</div>

<h1>FinOps Events</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-3 mb-6">
  <div class="p-4 rounded-sm shadow-sm bg-purple text-white">
    <h2 class="mt-2 mb-2 text-white text-lg">Regional Meetup Events</h2>
    <p class="opacity-60 text-sm">Meet FinOps Practitioners located nearby within our regional meetup network.</p>
    <a href="https://www.meetup.com/pro/finops" class="inline-flex items-center text-sm text-white-500 mt-4" data-ga-category="links" data-ga-action="internal link clicks" data-ga-label="events - meetups"><span>View FinOps Meetup Events</span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-px" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" /></svg></a>
  </div>
  <div class="p-4 rounded-sm shadow-sm bg-blue text-white">
    <h2 class="mt-2 mb-2 text-white text-lg">Foundation Training Events</h2>
    <p class="opacity-60 text-sm">See the dates for instructor led trainings by the Foundation across multiple certifications.</p>
    <a href="https://learn.finops.org/page/finops-certified-practitioner-vilt" class="inline-flex items-center text-sm text-white-500 mt-4" data-ga-category="links" data-ga-action="internal link clicks" data-ga-label="events - training"><span>View Foundation Training Events</span> <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-px" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" /></svg></a>
  </div>
</div>




<div class="ais-InstantSearch">
  <div class="bg-gray-200 rounded-sm p-4 mb-6">
    <h3 class="mt-2">Search Other Events</h3>
    <div id="event-search"></div>
    <h3 class="text-sm font-semibold text-gray-700 tracking-wider uppercase -mt-4 mb-0">Type:</h3>
    <div id="event-type"></div>
    <hr class="basic" />
    <h3 class="text-sm font-semibold text-gray-700 tracking-wider uppercase m-0">Host:</h3>
    <div id="event-label"></div>
  </div>
  <div id="event-hits"></div>
  <div id="pagination"></div>
</div>



<hr/ class="basic">

<div class="mt-8">
  <p><small>Please note: FinOps Foundation events are interactive in nature and conducted in a virtual (Zoom-based) environment. Accordingly, certain information that you have provided to Zoom will be shared with the FinOps Foundation, the trainer and other attendees. Zoom may provide details that you have provided including your name, email address or the phone number you use to dial in. You may be able to limit the information Zoom provides by editing your Zoom profile, but during this course any information you do include will be seen by all who attend. Please see https://zoom.us/privacy for further details.</small></p>
  <p><small>Some courses will be recorded for training and development purposes. It will be shared only with FinOps Foundation members who are preparing for instruction or developing course related material. All Foundation ground rules apply with respect to the sharing of private information.</small></p>
</div>


<!-- Modals -->

{% include modals/event.html %}